:root {
    --primary-presto: #06A3DA;
    --secondary-presto : #091E3E;
    --alpha-primary-presto: rgba(9, 30, 62, .7);
    --text-header: white;
    --text-header-contrast: black;

}
*{
    font-family: 'IBM Plex Mono', monospace;
}
h1, h2, h3, h4, h5, h6,.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Gloock', serif; ;
}
.text-presto{
    color: var(--primary-presto);
}
.bg-presto{
    background-color: var(--primary-presto);
}
.text-alternative-presto{
    color: var(--secondary-presto);
}
.bg-alternative-presto{
    background-color: var(--secondary-presto);
}

.btn-presto {
    padding: 5px 25px;
    color: var(--text-header);
    background-color: var(--primary-presto);
    border-radius: 2px;
}
.btn-presto:hover {
    
    background-color: var(--primary-presto);
    
}
.btn-alternative-presto {
    padding: 5px 25px;
    color: var(--text-header);
    background-color: var(--secondary-presto);
    border-radius: 2px;
}
.btn-alternative-presto:hover {
    
    background-color: var(--secondary-presto);
    
}
.btn-big-alternative-presto {
    padding: 10px 25px;
    color: var(--text-header);
    background-color: var(--secondary-presto);
    border-radius: 2px;
}
.btn-big-alternative-presto:hover {
    
    background-color: var(--secondary-presto);
    
}
.input-presto{
    padding: 5px 25px;
    border-radius: 2px;
}
.navbar .nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--text-header);
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.navbar.bg-white .nav-link {
    color: var(--text-header-contrast);
}
.navbar .nav-item .nav-link-icon-presto{
    color: var(--primary-presto);
    
}
.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color: var(--primary-presto);
}
.navbar .nav-item{
    position: relative;
    padding: 25px 0;
    transition: all linear 300ms;
    
}
.navbar .navbar-brand {
    color: var(--text-header);
}
.navbar.bg-white .navbar-brand {
    color: var(--primary-presto);
}
#mainNavbar{
    border-color: darkgray;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    
}


.navbar-nav .nav-link.active::before{
    position: absolute;
    left: 50%;
    bottom: 0;
    display: inline-block;
    content: '';
    height: 2px;
    width: 70%;
    transform: translateX(-50%);
    background-color: var(--primary-presto);
}

.navbar-nav .nav-link:hover{
    color: var(--primary-presto);
}
/* .navbar-nav .nav-item:not(.dropdown) .nav-link:hover::after{
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--primary-presto);
}        */
/* .navbar-nav .nav-item .nav-link:hover::before{
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--primary-presto);
}  IN UNO SI SPECIFICA UN CASO NELL'ALTRO IL CASO OPPOSTO CON IL NOT CHE VERIFICA SE C'è O MENO QUELLA CLASSE*/
.navbar-nav .nav-link::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    display: inline-block;
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--primary-presto);
    transform: translateX(-50%);
    transition: all linear 250ms;
}
.navbar-nav .nav-link:hover::before{
    width: 70%;
    
}
.navbar.thin .nav-item{
    padding: 10px 0;
}

.navbar-toggler {
    padding: 5px 10px;
    border-color: var(--primary-presto);
    border-radius: 2px;
}


.overlay::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--alpha-primary-presto);
    
    
}
/* .carousel-content-presto{
    position: absolute;
    top: 50%;
    left:50%;
    z-index: 2;
    color: white;
} */
.btn-big-presto {
    padding: 10px 30px;
    color: var(--text-header);
    background-color: var(--primary-presto);
    border-radius: 2px;
}
.btn-big-presto:hover {
    color: var(--text-header-contrast);
    background-color: var(--primary-presto);
    
}
.btn-big-white-presto {
    padding: 10px 30px;
    color: var(--text-header);
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid white;
}
.btn-big-white-presto:hover {
    color: var(--text-header-contrast);
    background-color: white;
    
}
.info-presto{
    transform: translate(-50%,-50%);
    left: 50%;
    position: relative;
}
#mainFooter .nav .nav-link {
    transition: transform ease-out 300ms;
}
#mainFooter .nav .nav-link:hover {
    transform: translateX(10px);
}
#mainFooter .nav .nav-link span{
    color: var(--text-header);
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: var(--primary-presto);
}
.footer-effect{
    position: relative;
    padding: 15px 0;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-effect:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: var(--primary-presto);
    
}
.footer-effect::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
    /* si puo scrivere tutto su una proprietà */
    animation-name: dot;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    
}

@keyframes dot {
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
}



